<%-  include("./partials/header")  %>
<body>
  <main>
<img src="https://uploads.mangadex.org/covers/a77742b1-befd-49a4-bff5-1ad4e6b0ef7b/a5dd3e26-278f-45eb-a5ca-2544deee3387.jpg" alt="" referrerpolicy="no-referrer">

  </main>
</body>
<%-  include("./partials/footer")  %>