<%-  include("./partials/header")  %>
  <% mangas.forEach(x => { %>
    <h3><%= x.attributes.title.en %></h3>
    <h5><%= x.attributes.description.en %></h5>
   <% })  %>
<%-  include("./partials/footer")  %>