<%- include("./partials/header") %>

<body>
  <main class="home">
    <h1 class="home1">Welcome fellow Manga enthusiast</h1>
    <h4 class="home1">In Your Journey on Discovering new Mangas</h4>
    <h4 class="home1">We highly encouarge everyone to have their always try something different </h4>
    <h4 class="home1">To access your Library login with your Google email on the top right</h4>
    <h4 class="home1">Make sure you keep record by adding it to your library</h4>
    <h4 class="home1">If you dont fancy it, your welcome to remove it with only a click of button </h4>
    <h4 class="home1">All Mangas pulled are credited to the API MANGADEX </h4>
  </main>
</body>
  <%- include("./partials/footer") %>