:root {
  --gradient: linear-gradient(to left top, #DD2476 10%, #FF512F 90%) !important;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #111 !important;

}

.card {
  background: #222;
  border: 10px solid #ecb21f;
  color: rgba(111, 169, 23, 0.8);
  margin-bottom: 2rem;
}

.btn {
  border: 5px solid;
  border-image-slice: 1;
  background: var(--gradient) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  border-image-source: var(--gradient) !important;
  text-decoration: none;
  transition: all .4s ease;
  display: inline-block;
}

.btn:hover,
.btn:focus {
  background: var(--gradient) !important;
  -webkit-background-clip: none !important;
  -webkit-text-fill-color: #fff !important;
  border: 5px solid #ecb21f !important;
  box-shadow: #222 1px 0 10px;
  text-decoration: underline;

}

#title {
  text-align: center;
  align-items: center;
  font-size: x-large;
  font-family: 'Mochiy Pop One', sans-serif;
}

a {
  color: #00B7FF;
  text-decoration: none;
  font-family: 'Mochiy Pop One', sans-serif;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto 5px;
  height: 34px;
  font-family: 'Mochiy Pop One', sans-serif;
}

.login img {
  height: 40px;
  margin: 5px;
}


nav {
  /* position: fixed;
  top: 0; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: x-large;
  background-color: #ecb21f;
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

.show-img {
  height: 450px;
}

.chain {
  /* height: 3707px; */
  width: 450px;
  border: 3px solid #ecb21f;
  border-bottom: 0;

}

#topChain {
  border-top: 3px;
  border-top-left-radius: 20px 20px;
  ;
  border-top-right-radius: 20px 20px;
  /* border-top: 5px;  */
}

#btmChain {
  border-bottom: 3px;
  border-bottom-left-radius: 20px 20px;
  ;
  border-bottom-right-radius: 20px 20px;
  /* border-top: 5px;  */
}

@media(min-width:568px) {
  .end {
    margin-left: auto;
  }
}

@media(max-width:768px) {
  #post {
    width: 100%;
  }
}

.comments {
  margin-top: 5%;
  margin-left: 20px;
}

.darker {
  border: 3px solid #ecb21f;
  background-color: black;
  float: right;
  border-radius: 5px;
  padding-left: 40px;
  padding-right: 30px;
  padding-top: 10px;
}

.comment {
  border: 1px solid rgba(16, 46, 46, 1);
  background-color: rgba(16, 46, 46, 0.973);
  float: left;
  border-radius: 5px;
  padding-left: 40px;
  padding-right: 30px;
  padding-top: 10px;

}

.comment h4,
.comment span,
.darker h4,
.darker span {
  display: inline;
}

.comment p,
.comment span,
.darker p,
.darker span {
  color: rgb(184, 183, 183);
}

h1,
h4 {
  color: white;
  font-weight: bold;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid #ecb21f;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.home {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  height: 80vh;
}

.home1 {
  font-family: 'Mochiy Pop One', sans-serif;
}

.show {
  color: rgb(184, 183, 183);
  ;
}

#kick {
  display: inline-flex;
}